<div class="container-center md animated slideInDown">

    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-close-circle"></i>
        </div>
        <div class="header-title">
            <h3><%=status%></h3>
            <small>
                <%=message%>
            </small>
        </div>
    </div>

    <div class="panel panel-filled">
        <div class="panel-body">
            <%=error%>
        </div>
    </div>

</div>
