<div class="container-center md animated slideInDown">

    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-home"></i>
        </div>
        <div class="header-title">
            <h3>HOME</h3>
            <small>
                First Page
            </small>
        </div>
    </div>

    <div class="text-center">
        <img src="/images/home.jpg">
    </div>

    <div class="text-center" style="margin-top: 20px;">
        <a class="btn btn-accent" style="margin: 5px; width: 100px;" href="<%=routes.login%>">Log In</a>
        <a class="btn btn-accent" style="margin: 5px; width: 100px;" href="<%=routes.join%>">Join</a>
    </div>
</div>