<div class="container-center animated slideInDown">

    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-unlock"></i>
        </div>
        <div class="header-title">
            <h3>Login</h3>
            <small>
                Please enter your credentials to login.
            </small>
        </div>
    </div>

    <div class="panel panel-filled">
        <div class="panel-body">
            <form action="<%=routes.login%>" id="loginForm" method="post" novalidate>
                <div class="form-group">
                    <label class="col-form-label" for="email">Email</label>
                    <input type="email" placeholder="example@gmail.com" title="Please enter you email" required="" value="" name="email" id="email" class="form-control">
                    <span class="form-text small">Your unique email to app</span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="password">Password</label>
                    <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                    <span class="form-text small">Your strong password</span>
                </div>
                <div>
                    <button class="btn btn-accent" type="submit">Log In</button>
                    <!-- 
                    <a class="btn btn-default" href="register.html">Forgot Password</a>
                    -->
                </div>
            </form>
        </div>
    </div>

</div>